My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -96
      ],
      "id": "1c3700f7-0a48-4cf6-886a-3d426d405155",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1mio0gboEd4teZmtbmzjOMmwxV_pwzAYO",
            "mode": "list",
            "cachedResultName": "chatbot",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1mio0gboEd4teZmtbmzjOMmwxV_pwzAYO"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        -96
      ],
      "id": "c15c29dd-893e-487a-a2ea-0e7df8c335ee",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1EOQd3cEpXxlebuP",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        -96
      ],
      "id": "e89fe272-421e-439a-a77c-52f32fb08d09",
      "name": "download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1EOQd3cEpXxlebuP",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8516",
          "mode": "list",
          "cachedResultName": "n8516"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        496,
        -96
      ],
      "id": "359151f9-4489-4a15-b2e9-c019528c4190",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "MmJwCq1lr6YEllNt",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        640,
        112
      ],
      "id": "a8a6a626-d65d-4d77-9b65-f0c9cd4826e4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        112
      ],
      "id": "0bd00e0b-bdcf-4d65-a804-740d9e4a3c24",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "32K0f420jpsrYsTt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        208
      ],
      "id": "4300e7fa-4704-4889-bb34-fdd8b08d74ff",
      "name": "When chat message received",
      "webhookId": "d025d7f6-43d9-47f2-a061-988f6c550b10"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Hello! iam a Retrieval-Augmented Generation (RAG) based chatbot that can answer queries from multiple knowledge sources while maintaining conversational capabilities for general questions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        208
      ],
      "id": "1b90615e-1228-42e1-be56-ea38934c11ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        416
      ],
      "id": "e2bca670-645e-4d59-8d71-3230999ad555",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "32K0f420jpsrYsTt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        416
      ],
      "id": "62c15fdf-1154-4da6-a298-2b411121fc42",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "1.\tAnswer general conversational queries using its base knowledge",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8516",
          "mode": "list",
          "cachedResultName": "n8516"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        304,
        432
      ],
      "id": "9e8eccb4-57ec-4536-a589-9d2afb01c67f",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "MmJwCq1lr6YEllNt",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        544
      ],
      "id": "cd4fb76e-9dd7-4df0-90d0-f66533698993",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "32K0f420jpsrYsTt",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "181dc1e9-9059-41bd-b698-031eb5b120e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19b7c79b330e8e41ac019963e25cd9ff996613ff4d0b41b4b6d59b0c70c44579"
  },
  "id": "YsWvA9H6DZlHULF5",
  "tags": []
}